asgiref
boto3
botocore
certifi
chardet
dj-database-url
Django
django-crispy-forms
django-heroku
django-iprestrict
django-rename-app
django-storages
docutils
gunicorn
idna
jmespath
mysql-connector
mysqlclient
Pillow
psycopg2
pycountry
pypng
PyQRCode
python-dateutil
pytz
qrcode
requests
s3transfer
six
sqlparse
urllib3
whitenoise
