
<!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}

<title>Password reset complete</title>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>password reset complete</title>
</head>

{% block content %}
  <body>
    <div class="alert alert-info" style="text-align: center;">
      Your password has been set.
    </div>
    <a href="{% url 'login' %}" style="text-align: center;" >Sign In Here</a>
  </body>
{% endblock content %}
</html>
