{% extends "base.html" %}

{% block content %}
<style>
	body 
	{
	  background: #cccc00;
	}

	.page-wrap
	{
	 min-height: 100vh;

	}
	
</style>

<body>
	<div class="page-wrap d-flex flex-row align-items-center">
  	  <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">{{status_code}}</span>
                <div class="mb-4 lead">{{error_message}} </div>
                <h1>:(</h1>
                <a href="{% url 'home' %}" class="btn btn-link">Back to Home</a>
            </div>
        </div>
    </div>
  </div>
</body>
	


{% endblock %}